.button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 16px 40px;
    cursor: pointer;
    transition: background-color 0.3s;

    // 尺寸樣式
    &.small {
        padding: 12px 24px;
        font-size: var(--body2);
    }

    &.medium {
        padding: 12px 24px;
        font-size: var(--body1);
    }

    &.large {
        padding: 14px 33px;
        font-size: var(--subtitle);
        font-weight: bold;
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -60%; // 使用百分比，根據按鈕大小自適應
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
        display: inline-block;
        mask: var(--after-content) no-repeat center;
        background-color: var(--text-primary); // 動態設置 SVG 的顏色
    }

    &:hover::after {
        animation: bounce 1s infinite alternate;
    }

    &.disabled::after {
        display: none;
    }

    &.primary {
        background-color: var(--primary);
        color: var(--text-primary);
        border: 6px solid var(--text-primary);
        border-radius: 40px;
    }

    &.secondary {
        background-color: var(--secondary);
        color: var(--text-primary);
        border: 6px solid var(--text-primary);
        border-radius: 40px;
    }

    &:hover {
        background-color: var(--highlight);
    }

    &:active {
        background-color: var(--accent2);
    }

    &.disabled {
        background-color: var(--disabled-state);
        color: var(--disabled-text);
        cursor: not-allowed;
    }
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    margin-right: 8px;
}

.right {
    margin-left: 8px;
}

.loader {
    border: 3px solid var(--text-primary);
    border-top: 3px solid var(--primary);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 1s linear infinite;
    margin-right: 8px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}