// _button.scss
@mixin button-styles($bg-color) {
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: var($bg-color);
    color: var(--text-primary);
    min-height: 45px;
    display: flex;
    /* 使用 Flexbox 保證文字垂直和水平都居中 */
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    transition: transform 0.3s ease, background-color 0.3s ease;

    /* 垂直居中 */
    &:hover {
        background-color: var(--highlight);
    }
}

@mixin menu-button {
    font-size: 14px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: var(--background-primary);
    color: var(--text-primary);
    min-height: 45px;
    display: flex;
    /* 使用 Flexbox 保證文字垂直和水平都居中 */
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    transition: transform 0.3s ease, background-color 0.3s ease;

    /* 垂直居中 */
    &:hover {
        background-color: var(--highlight);
    }
}