@import '@/styles/variables';

.tooltipContainer {
    position: relative;
    display: inline-block;
}

.tooltipBox {
    position: absolute;
    bottom: 110%; // Tooltip 位於元素上方
    left: -10%;
    color: var(--text-primary);
    font-size: var(--subtitle);
    white-space: nowrap;
    z-index: 1;
    transition: opacity 0.2s ease-in-out;
    padding: 8px 0px;
}


.tooltipArrow {
    position: absolute;
    bottom: -50%;
    left: 110%;
    transform: rotate(-20deg);
    width: 100px;
    height: 100px;
    mask: url('@/assets/portfolio/arrow.svg') no-repeat center;
    background-color: var(--text-primary); // 用來改變 SVG 顏色
}

/* 平板和以上尺寸的樣式 */
@media (min-width: $breakpoint-mobile) {
    .tooltipArrow {
        bottom: -10%;
        left: 100%;
        transform: rotate(-25deg);
    }

    .tooltipBox {
        bottom: 100%; // Tooltip 位於元素上方
        left: -30%;
        transform: translateX(-50%); // 中心對齊
        padding: 8px 8px;
    }
}