/* App.module.scss */
@import '@/styles/theme';
@import '@/styles/language';

/* 全局樣式 */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    /* 防止滾動條 */
}

@font-face {
    font-family: 'Open Huninn';
    src: url('@/assets/fonts/open-huninn-font/jf-openhuninn.woff2') format('woff2'),
        url('@/assets/fonts/open-huninn-font/jf-openhuninn.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

.appContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    /* 全視窗高度 */
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;

    &.lightMode {
        background-color: $background-color-primary;
        color: $text-color-primary;
    }

    &.darkMode {
        background-color: $background-color-dark-primary;
        color: $text-color-dark-primary;
    }
}