/* App.module.scss */

@import './theme';
@import './_language.scss';

/* 全局樣式 */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    /* 防止滾動條 */
}

@font-face {
    font-family: 'Open Huninn';
    src: url('@/assets/fonts/open-huninn-font/jf-openhuninn.woff2') format('woff2'),
        url('@/assets/fonts/open-huninn-font/jf-openhuninn.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

.appContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    /* 全視窗高度 */
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;

    &.lightMode {
        background-color: $light-mode-bg;
        color: $light-mode-text;
    }

    &.darkMode {
        background-color: $dark-mode-bg;
        color: $dark-mode-text;
    }


}

.img {
    width: 150px;
    height: 150px;
}

.btn {
    margin: 10px;
    /* 增加按鈕之間的間距 */
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.btn:hover {
    background-color: #ddd;
}