/* App.module.scss */

@import './theme';

@font-face {
    font-family: 'Open Huninn';
    src: url('@/assets/fonts/open-huninn-font/jf-openhuninn.woff2') format('woff2'),
        url('@/assets/fonts/open-huninn-font/jf-openhuninn.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

.appContainer {
    font-family: 'Open Huninn';
    text-align: center;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;

    &.lightMode {
        background-color: $light-mode-bg;
        color: $light-mode-text;
    }

    &.darkMode {
        background-color: $dark-mode-bg;
        color: $dark-mode-text;
    }
}

.img {
    width: 150px;
    height: 150px;
}