// src/pages/Portfolio/ServiceSection.module.scss
@import '@/styles/variables';


.serviceSection {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    text-align: center;
    margin: 2rem 5%;
    gap: 50px;
}

.titleSection {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    font-size: var(--heading3);
    margin-bottom: 30px;
    text-align: left;
    max-width: 100%;
}

.smileIcon {
    width: 100px;
    height: 100px;
    mask: url('@/assets/icons/smile.svg') no-repeat center;
    background-color: var(--text-primary); // 用來改變 SVG 顏色
}

// 手機佈局：單列
.services {
    display: grid;
    grid-template-columns: repeat(1, minmax(180px, 1fr)); // 單列
    grid-auto-rows: 1fr;
    gap: 100px; // 卡片之間的間距
}

// 平板佈局：多列
@media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet-minus-1) {
    .services {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); // 自動調整列數
        gap: 50px;
    }

    .title {
        font-size: var(--heading2);
        max-width: 60%;
    }
}

// 桌機佈局：三列
@media (min-width: $breakpoint-tablet) {
    .services {
        grid-template-columns: repeat(3, minmax(200px, 1fr)); // 三列佈局
        gap: 50px;
    }

    .title {
        font-size: var(--heading2);
        max-width: 40%;
    }
}